.accountPage{
 display: none;
  .addProductHolder{
    display: none;
  }
  .editPage{
    display: none;
  }
  #hideUsers{
    display: none;
  }
  h1{
    text-align: center;
  }
  .account-input{
    display: flex;
    max-width: 350px;
    margin-left: 20px;
    justify-content: space-between;
    flex-direction: column;
    div{
      display: flex;
    }
    .label{
      margin-right: 20px;
    }
    p{
      margin: 0;
    }
  }
  .footer{
    max-width: 350px;

    display: flex;
    justify-content: space-between;
  }
  #editBtn{

  }
  .adminBtn{
    width: 160px;

  }
  #showAdminPanel{
    display: none;
  }
  #hideAdminPanel{
    display: none;
  }
  #hideProducts{
   display: none;
  }
}
.adminPanel{
 display: none;
  #updateProduct{
    display: none;
  }
}
#usersUl{
  li{
    list-style: none;
    cursor:  pointer;
    padding: 5px 0;
    margin: 5px 0;
  }
}
#productsUl{
  @extend #usersUl;
}
#hideEditPage{
  display: none;
}
