$primary-color: #42AB9E;
$secondary-color: #ECD06F;
$third-color : #ff3800;
$gray-color : #4e4e4e;
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;
  height: 90px;
  padding-right: 20px;
}
.home{
  cursor: pointer;
  text-decoration: underline;
}
button{
  background-color: $secondary-color;
  border: none;
  width: 100px;
  height: 25px;
  border: 1px solid white;
  border-radius: 4px;
  color: $gray-color;
  font-weight: bold;
  cursor: pointer;
  &:hover{
    background-color: darken($secondary-color, 10%);
  }
}
.signUp{
  margin-right: 10px;
}