body {
  font-size: 1rem;
  padding: 0;
  margin: 0; }

input {
  display: block;
  margin: 10px; }

.error {
  display: none;
  color: red;
  margin: 0;
  font-size: 0.8rem;
  padding-left: 10px; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #42AB9E;
  height: 90px;
  padding-right: 20px; }

.home {
  cursor: pointer;
  text-decoration: underline; }

button {
  background-color: #ECD06F;
  border: none;
  width: 100px;
  height: 25px;
  border: 1px solid white;
  border-radius: 4px;
  color: #4e4e4e;
  font-weight: bold;
  cursor: pointer; }
  button:hover {
    background-color: #e6c142; }

.signUp {
  margin-right: 10px; }

.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px; }
  .homePage #signUpHeader {
    display: none; }
  .homePage #loginHeader {
    display: none; }

h1 {
  font-size: 1.2rem;
  color: #ff3800; }

.headerLogin {
  display: none; }

.logout {
  cursor: pointer; }

.welcomeUser {
  text-decoration: underline;
  cursor: pointer; }

#loader {
  display: none; }

.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative; }

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg); }

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg); }

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); }

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); }

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.accountPage {
  display: none; }
  .accountPage .addProductHolder {
    display: none; }
  .accountPage .editPage {
    display: none; }
  .accountPage #hideUsers {
    display: none; }
  .accountPage h1 {
    text-align: center; }
  .accountPage .account-input {
    display: flex;
    max-width: 350px;
    margin-left: 20px;
    justify-content: space-between;
    flex-direction: column; }
    .accountPage .account-input div {
      display: flex; }
    .accountPage .account-input .label {
      margin-right: 20px; }
    .accountPage .account-input p {
      margin: 0; }
  .accountPage .footer {
    max-width: 350px;
    display: flex;
    justify-content: space-between; }
  .accountPage .adminBtn {
    width: 160px; }
  .accountPage #showAdminPanel {
    display: none; }
  .accountPage #hideAdminPanel {
    display: none; }
  .accountPage #hideProducts {
    display: none; }

.adminPanel {
  display: none; }
  .adminPanel #updateProduct {
    display: none; }

#usersUl li, #productsUl li {
  list-style: none;
  cursor: pointer;
  padding: 5px 0;
  margin: 5px 0; }

#hideEditPage {
  display: none; }

#productRow {
  border: 1px solid gainsboro;
  padding: 5px;
  display: flex; }
  #productRow p {
    width: 33.3%; }

.productsHeader {
  display: flex;
  font-weight: bold; }
  .productsHeader .headerColumn {
    width: 33.3%; }

#sortingHolder {
  display: flex;
  justify-content: center;
  align-items: center; }

#createUser {
  display: none; }

#loginUser {
  display: none; }

/*# sourceMappingURL=styles.css.map */
