#productRow{
  border: 1px solid gainsboro;
  padding: 5px;
  display: flex;
  p{
    width: 33.3%;
  }
}
.productsHeader{
  display: flex;
  font-weight: bold;
  .headerColumn{
    width: 33.3%;
  }
}
#sortingHolder{
  display: flex;
  justify-content: center;
  align-items: center;
}