.homePage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

  #signUpHeader{
    display: none;
  }
  #loginHeader{
    display: none;
  }

}
h1{
  font-size: 1.2rem;
  color: $third-color;
}

.headerLogin{
  display: none;
}
.logout{
  cursor: pointer;
}
.welcomeUser{
  text-decoration: underline;
  cursor: pointer;
}
